
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<h1>Contact</h1>

<div class="container">
    <h1>Contact Details</h1>
    <p>If you need to reach us, here are our contact details:</p>

    <ul class="contact-list">
        <li><strong>Phone Number:</strong> +1-123-456-7890</li>
        <li><strong>Email:</strong> info@examplemotel.com</li>
    </ul>
</div>