@using MicroMotel.Web.Models.FakePayment;

@{
    decimal money = 0;
    try
    {
        money = Convert.ToDecimal(Context.Session.GetString("requiredmoney"));
    }
    catch
    {
        
    }
    Layout = null;
}

@model PaymentInput
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
<form asp-controller="Reservation" asp-action="Payment" method="post">
 
<div class="container p-0" style="color:white">
    <div class="card px-4">
        <p class="h8 py-3">Payment Details</p>
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Person Name</p>
                    <input asp-for="Owner" class="form-control mb-3" type="text"  placeholder="Name" value="Shahin">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p>
                        <input asp-for="CardNumber" class="form-control mb-3" type="text" value="1020304010203040" placeholder="1234 5678 435678">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p>
                        <input asp-for="CardExpiration" class="form-control mb-3" value="02/26" type="text" placeholder="MM/YYYY">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                        <input asp-for="CVV" class="form-control mb-3 pt-2 " value="200" type="password" placeholder="***">
                </div>
            </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Amount</p>
                        <input asp-for="TotalPrice" class="form-control mb-3 pt-2 " value="@money" type="number" placeholder="0">
                    </div>
                </div>
            <br />
            <div class="col-12">
              <button  type="submit" class="btn btn-primary mb-3">Pay</button>
                 
            </div>
        </div>
    </div>
</div>
</form>
                <style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0C4160;
    
    padding: 30px 10px;
}

   .container .p-0 {
        padding: 0 !important;
        background:white;
    }
.card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20px;
}

   .row .g-3, .gx-3 {
        --bs-gutter-x: 1rem;
    }
   .h8 .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
   .card .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .form-control .mb-3 {
        margin-bottom: 1rem !important;
    }
    .text .mb-1 {
        margin-bottom: .25rem !important;
    }
p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    color: white;
    background-color: #223C60;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

    .flex-column {
        flex-direction: column !important;
    }

    .d-flex {
        display: flex !important;
    }
.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}
                </style>