
@{
    ViewData["Title"] = "getusersets";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}
@model UserViewModel

<h1>User Information</h1>

<ul>
    <li><strong>User ID:</strong> @Model.Id</li>
    <li><strong>User Name:</strong> @Model.UserName</li>
    <li><strong>Email:</strong> @Model.Email</li>
    <li><strong>City:</strong> @Model.City</li>
</ul>

<a class="btn btn-warning btn-sm " >Update info</a>
<a class="btn btn-danger btn-sm " >Delete Account</a>


<a asp-page="/Index">Back to Home</a>