@using System.Security.Claims;

@{

    var rolesss = User.FindAll("http://schemas.microsoft.com/ws/2008/06/identity/claims/role");
    var claimslist = rolesss.ToList();
    var claimvalues = new List<string>();
    foreach(var item in claimslist)
    {
        claimvalues.Add(item?.Value?.ToUpper() ?? "");
    }  

}
   
    

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/home/index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" href="/reservation/getownreservs">
                    <i class="icon-columns menu-icon"></i>
                    <span class="menu-title">My Reservations</span>
                </a>
            </li>


        }


        @if (claimvalues.Contains("SUPERVISOR"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/admin/propertylist">
                    <i class="icon-contract menu-icon"></i>
                    <span class="menu-title">Edit Motels</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/GetAllUsers">
                    <i class="icon-head menu-icon"></i>
                    <span class="menu-title">Edit Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/AllRoomReservations">
                    <i class="icon-contract menu-icon"></i>
                    <span class="menu-title">CRUD Reservations</span>
                </a>
            </li>
        }
        else if (claimvalues.Contains("ADMIN"))
        {
         <li class="nav-item">
            <a class="nav-link" href="/admin/propertylist">
                    <i class="icon-contract menu-icon"></i>
                <span class="menu-title">CRUD Motels</span>
            </a>
        </li>


            <li class="nav-item">
                <a class="nav-link" href="/admin/AllRoomReservations">
                    <i class="icon-contract menu-icon"></i>
                    <span class="menu-title">CRUD Reservations</span>
                </a>
            </li>


 

        }

      else{

      }
        <li class="nav-item">
            <a class="nav-link" href="/home/contact">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Contact</span>
            </a>
        </li>


    @*    <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="c"></i>
                <span class="menu-title">UI Elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/ui-features/buttons.html">Buttons</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/ui-features/dropdowns.html">Dropdowns</a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/ui-features/typography.html">Typography</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Form elements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="~/skydash/pages/forms/basic_elements.html">Basic Elements</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Charts</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/charts/chartjs.html">ChartJs</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Tables</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/tables/basic-table.html">Basic table</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Icons</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/icons/mdi.html">Mdi icons</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/samples/login.html"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/samples/register.html"> Register </a></li>
                </ul>
            </div>
        </li>   
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Error pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/skydash/pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>*@
    </ul>
</nav>
 <style >

    .sidebar {
        position: relative;
        z-index: 1;
    }
 </style>