<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">  MicroMotel © 2023.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
    </div>
</footer>
<style>


.footer {
    position: fixed; /* Footer'ı sayfanın altına sabitle */
    bottom: 0; /* Sayfanın en altına yerleştir */
    width: 100%; /* Sayfanın genişliğine sığdır */
    background-color: #f8f9fa; /* İstenilen arkaplan rengi */
    padding: 10px; /* İstenilen padding değeri */
 
        z-index: 2;
}


</style>